@charset "UTF-8";

/* ========== key ========== */
.key {
    background-image: url(../img/key_about2.jpg);
    background-position: left 30%;
}

/* ========== section : concept ========== */
.copy {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin: 45px 0;
    line-height: 48px;
}


.concept_text {
    font-size: 16px;
    line-height: 2.5;
    margin-top: 24px;
    margin-bottom: 48px;
}

@media screen and (min-width:960px) {
    .copy {
        text-align: center;
        font-size: 32px;
        margin: 80px 0;
        line-height: 48px;
    }

    .sec_concept p {
        font-size: 20px;
        line-height: 2.5;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* =========== min-width:960px =========== */
}

/* ========== section : about us ========== */

.aboutus_text {
    font-size: 16px;
    line-height: 2.5;
    max-width: 85%;
    margin: 24px auto 48px;
    text-align: left;
}

@media screen and (min-width:960px) {

    .sec_aboutus {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .aboutus_text {
        font-size: 20px;
        margin-bottom: 0;
        max-width: 768px;
    }

    /* =========== min-width:960px =========== */
}

/* ========== section : sec_shopinfo ========== */

.sec_shopinfo table {
    font-size: 16px;
    text-align-last: left;
    width: 90%;
    margin: 24px auto 60px;
    border-collapse: collapse;
}

.sec_shopinfo table tr {
    line-height: 48px;
    border-top: 1px solid #d9d9d9;
}

.sec_shopinfo table tr:last-of-type {
    border-bottom: 1px solid #d9d9d9;
    line-height: 40px;
}


.sec_shopinfo table th {
    width: 40%;
    font-weight: 400;
}

.sec_shopinfo table td {
    width: 60%;
    font-weight: 400;
}

@media screen and (min-width:960px) {
    .sec_shopinfo {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #F5F3F0;
        margin: 0 calc(50% - 50vw);
        width: 100vw;
    }

    .sec_shopinfo table {
        width: 50%;
        margin-top: 40px;
    }

    .sec_shopinfo table tr {
        line-height: 64px;
    }

    .sec_shopinfo table tr:last-of-type {
        line-height: 40px;
    }

    .sec_shopinfo table tr:last-of-type th,
    .sec_shopinfo table tr:last-of-type td {
        padding: 8px 0;
    }


    .sec_shopinfo table th {
        width: 30%;
    }

    .sec_shopinfo table td {
        width: 70%;
    }

    /* =========== min-width:960px =========== */
}