/* =====
key
====== */
.key .page_title {
    top: 22px;
    right: 12px;
    text-shadow: 1px 1px 3px #fff;
}

/* =====
各session
====== */
/* .session_box {
    margin-top: 48px;
    margin-bottom: 48px;
} */

.session_box .session_title {
    margin-bottom: 24px;
}

.session_box .session_title::after {
    content: " ";
    display: block;
    height: 2px;
    width: 60px;
    border-radius: 1px;
    background-color: #444;
    margin: 8px auto 0;
}

.session_box .session_text {
    margin: 0 auto;
    width: 85%;
    text-align: left;
    font-size: 4.44vw;
}

/* =========
session背景色
========== */
.private_session {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    background: linear-gradient(#fff, var(--main-color) 15%, var(--main-color) 85%, #fff);
}